@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: Roboto, sans-serif;
  background: url(./images/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
 
}
.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  
}
.headerLogo {
  padding-bottom: 22px;
}
.headerDecoration {
  background: url(./images/logo3.png);
  background-repeat: no-repeat;
}
.headerDecoration:hover {
  color: #f26321;
  background: url(./images/logo\ 2.png);
  background-repeat: no-repeat;
}
.headerLogoName:hover {
  color: #f26321;
}
.headerLogoName {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 61px;
  font-weight: 700;
  font-size: 29px;
  line-height: 32px;
}
.headerLogoBottomName {
  font-size: 18px;
  line-height: 18px;
}
.headerContacts {
  text-decoration: none;
  text-align: end;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 17px;
}
.headerContactsNumber:hover {
  color: hsl(19, 89%, 54%);
}
.headerContactsMail:hover{
  color: hsl(19, 89%, 54%);
}
.headerContactsNumber {
  padding-top: 19px;
}

.mainList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 61px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  height: 220px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(white, black) 1 100%;
}

.cardTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.money {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.bottomPanel {
  position: absolute;
  bottom: -85px;
  left: 0;
  width: 100%;
  padding: 7px 14px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f26522;
  transition: 200ms;
  color: #fff;
}


.price {
  display: flex;
  justify-content: space-between;
}

.viewDetails::after {
  content: url(./images/Vector\ 1.png);
  justify-content: space-between;
  margin-left: 15px;
}

.block:hover .bottomPanel {
  bottom: 0;
}

.block:hover .cardTitle {
  color: #f26522;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
